@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

.rotate {
  display: inline-block;
  transform: scale(-1, 1);
}

.bn-default-styles {
  width: 100%;
}

.bn-add-image-button {
  background: red;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-scrollbar {
  /* スクロールバーを非表示にするためのプロパティ */
  scrollbar-width: none; /* Firefox対応 */
  -ms-overflow-style: none; /* IE/Edge対応 */
}

.hide-scrollbar::-webkit-scrollbar {
  /* Chrome, Safari, Edge対応 */
  display: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
