@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
  display: inline-block;
  transform: scale(-1, 1);
}

.bn-default-styles {
  width: 100%;
}

html,
body {
  overscroll-behavior-y: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

[data-content-type="paragraph"] {
  font-size: 20px;
}

[data-content-type="numberedListItem"] {
  font-size: 20px;
}

[data-content-type="bulletListItem"] {
  font-size: 20px;
}

[data-content-type="blockGroup"] {
  font-size: 20px;
}

.bn-block-outer::before {
  display: none;
  opacity: 0;
}

.bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type="bulletListItem"]:before {
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
}

.bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type="bulletListItem"]:before {
  content: "•";
}

[data-content-type="bulletListItem"]
  ~ .bn-block-group
  [data-content-type="bulletListItem"]
  ~ .bn-block-group
  [data-content-type="bulletListItem"]
  ~ .bn-block-group
  > .bn-block-outer:not([data-prev-type])
  > .bn-block
  > .bn-block-content[data-content-type="bulletListItem"]:before {
  content: "◆" !important;
  line-height: 30px;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.ProseMirror > [data-node-type="blockGroup"] {
  margin: 0;
  padding: 0;
  margin-left: -10px;
  margin-right: -50px;
  min-width: 40%;
  word-break: break-all;
}

.bn-inline-content {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .bn-block-group h1 {
    font-size: 24px !important;
  }
  .bn-block-group h2 {
    font-size: 20px !important;
  }
  .bn-block-group h3 {
    font-size: 16px !important;
  }
  .bn-block-group p {
    font-size: 14px !important;
  }
  [data-content-type="numberedListItem"] {
    font-size: 14px;
  }

  [data-content-type="bulletListItem"] {
    font-size: 14px;
  }

  .bn-toolbar .mantine-Button-label {
    display: none !important;
  }

  .bn-toolbar .mantine-Button-inner {
    overflow: hidden !important;
  }

  .bn-toolbar {
    display: flex !important;
    flex-direction: column !important;
  }

  .bn-toolbar .mantine-Menu-dropdown {
    overflow: hidden !important;
  }

  .bn-toolbar .mantine-Menu-itemLabel {
    display: none !important;
  }

  [data-is-empty-and-focused="true"] .bn-inline-content::before {
    content: "/でメニューが開きます" !important;
  }

  .mantine-Menu-dropdown {
    position: relative !important;
    width: 200px !important;
    height: 300px !important;
  }

  .mantine-Menu-dropdown .mantine-Text-root {
    font-size: 10px !important;
  }

  .mantine-Menu-dropdown .mantine-Badge-root {
    display: none !important;
  }

  .mantine-Menu-dropdown .mantine-Menu-itemSection {
    transform: scale(0.8) !important;
  }

  .mantine-Menu-dropdown .mantine-UnstyledButton-root {
    height: 30px !important;
  }

  .mantine-Menu-dropdown .mantine-Menu-label {
    font-size: 10px !important;
  }
}

[data-is-empty-and-focused="true"] .bn-inline-content::before {
  content: "入力してください" !important;
}

.ptr__pull-down {
  display: flex;
  flex: 1;
}

.ptr__children {
  display: flex;
  flex: 1;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea,
  .like-textbox {
    font-size: 16px !important;
  }
}

.bn-block-content {
  display: flex;
  align-items: center;
  flex: 1;
}

[data-is-empty-and-focused="true"] {
  display: flex !important;
  align-items: center;
}

.link-blue a {
  color: #0956ad;
  text-decoration: underline;
}
